# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# the DIAG device node is not world writable/readable.
/dev/diag                 0666   system     oem_2901
/dev/st21nfc              0660   nfc        nfc

#qvr
/sys/kernel/qvr_external_sensor fd  0660  system  system

# wlan
/dev/spidev0.1            0660   system     system

#elliptic sensor
/dev/elliptic0            0644   system     system
/dev/elliptic1            0644   system     system

# fingerprint
/dev/silead_fp            0660   system   system
/dev/goodix_fp            0660   system   system
