<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings"
    android:versionCode="3"
    android:versionName="3.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver"
                  android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".dirac.DiracActivity"
            android:exported="true"
            android:label="@string/dirac_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/dirac_summary" />
        </activity>

        <service
            android:name=".dirac.DiracTileService"
            android:exported="true"
            android:icon="@drawable/ic_headphone"
            android:label="@string/dirac_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
            android:value="true" />
           </service>

        <activity
            android:name=".speaker.ClearSpeakerActivity"
            android:exported="true"
            android:label="@string/clear_speaker_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/clear_speaker_summary" />
        </activity>

        <activity
            android:name=".TileEntryActivity"
            android:label="@string/device_settings_app_name"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".thermal.ThermalSettingsActivity"
            android:exported="true"
            android:label="@string/thermal_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
        </activity>

        <service
            android:name=".thermal.ThermalService"
            android:permission="ThermalService">
        </service>

    </application>
</manifest>
