on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/goodix 0770 system system

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0777 /dev/goodix_fp

    mkdir /mnt/vendor/persist/goodix 0770 system system

on property:vendor.fps_hal.restartimes=max
    stop vendor.fps_hal
